$primary: #6366F1;
$secondary: #A855F7;
$tertiary: #B85393;
$neutral: #0F172A;
$active--link: #a3a6ff;
$text--color: #DEE5FF;
$actions: #6F00BE;
$bgc: #060E20;
$aside--bg: #091328;
$active--bg: #0F1930;
$main--system: #C180FF;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    font-family: "Inter", sans-serif;
}

input {
    outline: none;
    border: none;
}

a {
    color: $active--link;
    text-decoration-line: none;
}

button {
    display: inline-block;
    border: none;
    cursor: pointer;
}

ul, ol, li {
    list-style: none;
}

.container {
    padding: 0 48px;
}

%flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

%grid {
    display: grid;
    gap: 32px;
}

.wrap {
    display: grid;
    grid-template-columns: 255px 1fr;
    grid-template-areas:
    'header header'
    'aside main'
    'footer footer';
}